*.log
blockchain
log
scratch/
./shadowy
./shadowyapparatus
blockchain/
scratch/
plots/
*.json
*.local
bin/
shadowy
shadowyapparatus
burn_in_logs/
shadowy-tracker/*.pid
shadowy-tracker/tracker*
.idea
test_build
tmp
*.wasm
dist
node_modules
venv
explorer_data



